.container {
  position: relative;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 15px;

  overflow-y: auto;

  table {
    td {
      padding: 5px;
    }
  }
}

.resultsWrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}
